@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  /* Add additional styles for the sticky navbar */
}

.head-font {
  font-family: 'Edensor free';
}

.carousel {
  height: 380px;
  /* Set the desired height */
  flex: 1;
}

/* .slide {
    height: 100%;
    width: 100%;
  } */

/* .slide-wrapper {
    height: 100%;
    width: 100%;
  } */

.thumbs {
  display: flex;
  flex-direction: column;
  transform: none !important;
}

.carousel-root {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-left: 40px;
  padding-right: 20px;
  /* height: 100%; */
  width: 100%;
}

.carousel.carousel-slider {
  flex: 5;
  height: 100% !important;
  /* width: 800px; */
}

.carousel-contain {
  width: 86%;
  height: 500px;
}

.slide {
  display: flex;
  justify-content: center;
}

#app {
  height: 100%
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #FFF7E9;
  scroll-behavior: smooth;
  font-family: 'League Spartan', sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.hero-text {
  -webkit-text-stroke: 1px white;
}

.glass {
  background: rgba(255, 255, 255, 0.18);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.32);
}

.swiper {
  width: 100%;
  height: 100%;
}

/* .swiper-wrapper {
  display: flex;
  gap: 25px;
} */

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev,
.swiper-button-disabled {
  padding: 25px;
  border-radius: 60px;
  background-color: rgb(0, 0, 0);
  opacity: 0 !important;
  transition: opacity 0.2s;
}

.swiper-button-next:hover,
.swiper-button-prev:hover,
.swiper-button-disabled:hover {
  opacity: 1 !important;
  transition: opacity 0.2s;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 12px !important;
  line-height: 1;
  color: #fff;
  /* opacity: 0;
  transition: opacity 0.2s; */
}

.swiper-button-next::after:hover,
.swiper-button-prev::after:hover {
  color: #fff;
  /* opacity: 1;
  transition: opacity 0.2s; */
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}

.MuiSlider-valueLabelOpen,
.MuiSlider-valueLabel {
  display: none !important;
}

.MuiSlider-thumb.Mui-focusVisible,
.MuiSlider-thumb:hover {
  box-shadow: none !important;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  padding-right: 10px;
}

::-webkit-scrollbar-track {
  background: #fff5ee;
}

::-webkit-scrollbar-thumb {
  background: #fdb38b;
  border-radius: 5px;
  -webkit-animation: scroll 3s;
  animation: scroll 3s;
}

::-webkit-scrollbar-thumb:hover {
  background: #ed7534;
  transition: 3s ease;
}

@media (max-width: 640px) {
  .carousel-root {
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: column;
  }

  .thumbs {
    flex-direction: row;
    justify-content: center;
  }

  .carousel-contain {
    width: 100%;
    /* height: 500px; */
    border-radius: 12px;
    overflow: hidden;
  }

}

/* Landing */
/* 
.landing-section-two-slideshow {
 transform: translate3d(-50%, -50%, 0) perspective(800px) rotatey(10deg)
		rotateX(-10deg);
}

.landing-section-two-contain {
  animation: runner var(--duration) linear infinite;
  display: flex;
  transform: translateX(23%);
}

.landing-section-two-contain:nth-child(even) {
  animation-duration: calc(var(--duration) * 1.5);
}

.landing-section-two-contain .landing-section-two-line {
  transition: ease-in-out all 0.3s;
  border-radius: 1rem;
  margin: clamp(10px, 2vw, 20px);
}

.landing-section-two-contain .landing-section-two-line .landing-section-two-img{

transition: ease-in-out all 0.3s;
overflow: hidden;
border-radius: 1rem;
}

.landing-section-two-contain .landing-section-two-line:hover .img {
  cursor: pointer;
  transform: scale(1.1) translatez(0px);
}

.landing-section-two-contain .landing-section-two-line:hover::after {
  filter: blur(35px) opacity(0.8);
}

.landing-section-two-contain .landing-section-two-line::after {
  content: "";
  background: inherit;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 3vh;
  position: absolute;
  background-size: cover;
  z-index: -1;
  transition: ease-in-out all 0.3s;
  filter: blur(25px) opacity(0.8);
}

@keyframes runner {
  to {
    transform: translateX(-10.4%);
  }
} */



header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  text-align: center;




}

header h1 {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 0.5rem;

  @media (min-width: 768px) {
    font-size: 3rem;
  }
}

header p {
  color: #94a3b8;
}
/* 
.tag-list {
  width: 30rem;
  max-width: 90vw;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: 1rem 0;
  position: relative;
  padding: 1.5rem 0;
  overflow: hidden;
} */


.loop-slider .inner {
  display: flex;
  width: fit-content;
  animation-name: loop;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: var(--direction);
  animation-duration: var(--duration);
}

.tag {
  display: flex;
  align-items: center;
  gap: 0 0.2rem;
  color: #e2e8f0;
  font-size: 0.9rem;
  background-color: #334155;
  border-radius: 0.4rem;
  padding: 0.7rem 1rem;
  margin-right: 1rem;
  /* // Must used margin-right instead of gap for the loop to be smooth */
  box-shadow:
    0 0.1rem 0.2rem rgb(0 0 0 / 20%),
    0 0.1rem 0.5rem rgb(0 0 0 / 30%),
    0 0.2rem 1.5rem rgb(0 0 0 / 40%);


}

.tag .span {
  font-size: 1.2rem;
  color: #64748b;
}

.fade {
  pointer-events: none;
  background: linear-gradient(90deg, #1e293b, transparent 30%, transparent 70%, #1e293b);
  position: absolute;
  inset: 0;
}

@keyframes loop {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}