@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.loop-slider .inner {
  animation: loop var(--duration) linear infinite;
  animation-direction: var(--direction);
}

@font-face {
  font-family: "Edensor Free";
  src: url("/fonts/Edensor-Free.otf");
  font-style: normal;
}

body {
  font-family: "League Spartan", sans-serif;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  padding-right: 10px;
}

::-webkit-scrollbar-track {
  background: #fff5ee;
}

::-webkit-scrollbar-thumb {
  background: #ff8d4f;
  border-radius: 5px;
  -webkit-animation: scroll 3s;
  animation: scroll 3s;
}

::-webkit-scrollbar-thumb:hover {
  background: #ed7534;
  transition: 3s ease;
}

* {
  user-select: none; /* Prevents text selection */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
}

/* Disable image and asset highlighting */
img, svg {
  pointer-events: none; /* Prevents click & drag */
  -webkit-user-drag: none; /* Prevents image dragging in Safari */
}